* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: inter, sans-serif;;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px; 
}
.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61dafb;
    font-weight: 800;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--logo {
    height: 50px;
    margin-right: 7px;
}

.main {
    background-color: #282d35;
    align-items: center;
    height: 100%;
    padding: 30px 20px; 
    color: white;
    background-image: url(./assets/react-bg.png); 
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: right;
    background-position: right center   ;
}

ul li {
    padding: 15px 0px;
}

ul li::marker {
    font-size: 1.4rem;
    color: #61dafb;
}

.main--bullet {
    margin-top: 40px;
}